@charset "utf-8";
/* CSS Document */

body{
	background-color:#333;
	margin:0;
}

@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}

.fadeIn {
-webkit-animation: fadeIn 1s ease-in-out;
-moz-animation: fadeIn 1s ease-in-out;
-o-animation: fadeIn 1s ease-in-out;
animation: fadeIn 1s ease-in-out;
}

.logo{
	position:relative;
	top:20px;
	margin-left:40px;
	left:-18px;
}

nav#menu{
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	font-size:12px;
	position:absolute;
	top:0;
	margin-left:-300px;
	left:50%;
}

nav#menu li{
	color:#FFF;
	display:inline-block;
	padding:10px;
	margin:2px;
	margin-top:-10px;
	-webkit-transition: background-color 1s;
	-ms-transition: background-color 1s;
	-o-transition: background-color 1s;
	transition: 0.5s;
}

nav#menu li:hover{
	text-decoration:underline;
	color:#CCC;
}

#fundoMenu{
	background-color:#000;
	width:100%;
	height:130px;
	opacity:0.5;
	position:absolute;
	top:0;
}

ul#albumFotos{
	width:1500px;
	position:absolute;
	top:114px;
	left:150px;
	padding:50px;
	overflow:hidden;
	list-style:none;
}

ul#albumFotos li{
	float:left;
	width:300px;
	height:300px;
	margin:20px;
	margin-left:40px;
	margin-top:23px;
	box-shadow: 1px 1px 4px black;
	border:5px solid grey;
	background-color:#FFF;
	box-shadow:1px 1px 3px rgba(0,0,0,.4);
	transition:all .6s ease-in-out;
}

ul#albumFotos li#foto1{
	background:url(Imagens/Portifolio/cranio.jpg) no-repeat;
	background-position:50% 50%;
	background-size:400px 400px;
}

ul#albumFotos li#foto1:hover{
	background-size:100% 100%;
}

ul#albumFotos li#foto2{
	background-image:url(Imagens/Portifolio/Vinho.jpg);
	background-position:50% 20%;
	background-size:400px 400px;
}

ul#albumFotos li#foto2:hover{
	background-size:100% 100%;
}

ul#albumFotos li#foto3{
	background-image:url(Imagens/Portifolio/Cerveja.jpg);
	background-position:80% 50%;
	background-size:400px 400px;
}

ul#albumFotos li#foto3:hover{
	background-size:100% 100%;
}

ul#albumFotos li#foto4{
	background-image:url(Imagens/Portifolio/Chocolate.jpg);
	background-position:50% 50%;
	background-size:400px 400px;
}

ul#albumFotos li#foto4:hover{
	background-size:100% 100%;
}

ul#albumFotos li#foto5{
	background-image:url(Imagens/Portifolio/Persona.jpg);
	background-position:50% 50%;
	background-size:400px 400px;
}

ul#albumFotos li#foto5:hover{
	background-size:100% 100%;
}

ul#albumFotos li#foto6{
	background-image:url(Imagens/Portifolio/Breja.jpg);
	background-position:90% 50%;
	background-size:400px 400px;
}

ul#albumFotos li#foto6:hover{
	background-size:100% 100%;
}

ul#albumFotos li#foto7{
	background-image:url(Imagens/Portifolio/Umbrella.jpg);
	background-position:50% 40%;
	background-size:400px 400px;
}

ul#albumFotos li#foto7:hover{
	background-size:100% 100%;
}

ul#albumFotos li#foto8{
	background-image:url(Imagens/Portifolio/Paradiso.jpg);
	background-position:80% 50%;
	background-size:400px 400px;
}

ul#albumFotos li#foto8:hover{
	background-size:100% 100%;
}

ul#albumFotos li#foto9{
	background-image:url(Imagens/Portifolio/McLaren.jpg);
	background-position:10% 50%;
	background-size:400px 400px;
}

ul#albumFotos li#foto9:hover{
	background-size:100% 100%;
}

ul#albumFotos li#foto10{
	background-image:url(Imagens/Portifolio/Tocha.jpg);
	background-position:50% 10%;
	background-size:400px 400px;
}

ul#albumFotos li#foto10:hover{
	background-size:100% 100%;
}

ul#albumFotos li#foto11{
	background-image:url(Imagens/Portifolio/Beco.jpg);
	background-position:90% 50%;
	background-size:400px 400px;
}

ul#albumFotos li#foto11:hover{
	background-size:100% 100%;
}

ul#albumFotos li#foto12{
	background-image:url(Imagens/Portifolio/Trem.jpg);
	background-position:50% 50%;
	background-size:400px 400px;
}

ul#albumFotos li#foto12:hover{
	background-size:100% 100%;
}

ul#albumFotos li#foto13{
	background-image:url(Imagens/Portifolio/PS.jpg);
	background-position:50% 50%;
	background-size:400px 400px;
}

ul#albumFotos li#foto13:hover{
	background-size:100% 100%;
}

ul#albumFotos li span{
	opacity:0;
	color:#FFF;
	text-shadow:1px 1px 1px #000;
	background-color: rgba(0,0,0,.3);
	font-size:18px;
	line-height:450px;
	padding:5px;
	margin-left:100px;
	transition:1s;
}

ul#albumFotos li:hover span{
	opacity:1;
}

ul#albumFotos li:hover{
	transform:scale(1.5);
}
